@model RoomBookerAPI.Models.Sala

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotacaoMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotacaoMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoMinLimp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoMinLimp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCentroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCentroNavigation.IdCentro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSala">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
